APP_NAME="Ma Boutique"
APP_ENV=production
APP_URL=https://votre-site.vercel.app
# Générer: php -r "echo bin2hex(random_bytes(32));"
APP_KEY=
DB_HOST=postgresql://neondb_owner:npg_Y9Lbz3EeqiIP@ep-young-frost-b2etjyo3-pooler.c-6.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=user
DB_PASSWORD=11367193
DB_SSLMODE=require
CLOUDINARY_CLOUD_NAME=Root
CLOUDINARY_API_KEY=673641649824517
CLOUDINARY_API_SECRET=A6AGZatbed70C5Yhz6ipM5SlU_8
FACEBOOK_URL=
INSTAGRAM_URL=
TIKTOK_URL=
WHATSAPP_NUMBER=216XXXXXXXX
SHOP_PHONE=
SHOP_EMAIL=
SHOP_ADDRESS=
# Seulement pour scripts/seed.php
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=
